$theme-color-1: rgb(238, 241, 255);
$theme-color-2: rgb(210, 218, 255);
$theme-color-3: rgb(170, 196, 255);
$theme-color-4: rgb(177, 178, 255);
$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;
